<div class="page-container">
	<header>
		<div>
			<button mat-button class="menu-button" (click)="sidenav.toggle()">
				<mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
			</button>
			<a routerLink="/">
				<span class="app-title">Atom - {{this.title}}</span>
			</a>
		</div>
	</header>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav #sidenav autoFocus="false" mode="side" [(opened)]="isMenuOpen"
			class="sidenav" o>
			<a mat-button routerLink="/">Home</a>
			<a mat-button routerLink="/ingredients">Ingredients</a>
			<a mat-button routerLink="/recipes">Recipes</a>
			<a mat-button routerLink="/page4">Page 4</a>
			<a mat-button routerLink="/page5">Page 5</a>
		</mat-sidenav>
		<mat-sidenav-content>
			<main>
				<router-outlet></router-outlet>
			</main>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>