# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.mvn/

.openapi-generator/
build.gradle
mvnw
mvnw.cmd
node_modules/
dist/
settings.gradle

/backend/src/main/gen
/backend/src/main/docker
/frontend/gen
/frontend/node
